Repository Bruceforce/vaultwarden-backup: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_readme, build_master

push_readme:
  stage: push:readme
  image: docker:latest
  services:
  - docker:dind
  tags:
  - shared
  script:
  ...

build_master:
  stage: build:docker
  image: docker:latest
  services:
  - name: docker:dind
    command:
    - --experimental
  tags:
  - shared
  before_script:
  - apk add curl
  - mkdir -p ~/.docker/cli-plugins
  ...

change local backup to function and make default
  entrypoint.sh
Due: build_master

feat: renamed to vaultwarden-backup
  .gitignore
  .gitlab-ci.yml
  .releaserc
  .shellcheckrc
  Dockerfile
  Makefile
  README.md
  backup.sh
  docker-compose.yml
  entrypoint.sh
  src/app/backup.sh
  src/opt/scripts/logging.sh
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: push_readme, build_master

ci: added release stage
  .gitlab-ci.yml
Due: none

ci: fixed release
  .gitlab-ci.yml
  .releaserc
  Makefile
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

docs: Added HEALTHCHECK_URL to Readme
  README.md
Due: push_readme

fix: Fixed permission issues
  README.md
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: push_readme

docs: Added BACKUP_DIR to README
  README.md
Due: push_readme

fix: Fixed DELETE_AFTER
  src/app/backup.sh
Due: none

fix: Fixed su-exec issues in manual mode
  src/usr/local/bin/entrypoint.sh
Due: none

chore: log all commands to logfile
  src/app/backup.sh
Due: none

fix: loop when run with UID zero
  src/usr/local/bin/entrypoint.sh
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: none

docs: :memo: Enhanced general description
  README.md
Due: push_readme

chore: Disable shellcheck SC1091
  src/app/backup.sh
Due: none

fix: Fixed permissions issues with log files
  Dockerfile
  src/usr/local/bin/entrypoint.sh
Due: build_master

fix: always create logfiles as $UID:$GID
  src/usr/local/bin/entrypoint.sh
Due: none

ci: Fixed latest build
  .gitlab-ci.yml
  .releaserc.json
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Due: none

ci: use docker.io instead of index.docker.io
  .gitlab-ci.yml
Due: none

Squashed commit of the following:
  .gitlab-ci.yml
  .gitlab/build-and-release.sh
  .gitlab/prepare-release.sh
  .releaserc.json
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: none

fix: deprecation check for $LOGFILE
  src/usr/local/bin/entrypoint.sh
Due: none

docs: correct typo in README
  README.md
Due: push_readme

chore(gitignore): Added vw-data
  .gitignore
Due: none

chore: commented out set
  .gitlab/build-and-release.sh
  .gitlab/prepare-release.sh
Due: none

fix: Moved deprecation checks to set-env script
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: none

docs: Added FAQ entry for lock error
  README.md
Due: push_readme

fix: Set LOG_LEVEL first
  src/opt/scripts/logging.sh
  src/opt/scripts/set-env.sh
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
Due: none

fix: Make set-env.sh executable
  src/opt/scripts/set-env.sh
Due: none

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
Due: none

fmt and remove files I won't use
  .github/workflows/lockdown.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/build-and-release.sh
  .gitlab/prepare-release.sh
  .releaserc.json
  .shellcheckrc
  Makefile
  README.md
Due: push_readme

Update backup.sh - include call to set-env.sh - if debug>INFO, dump environment to $LOG_DIR/env.txt
  src/app/backup.sh
Due: none

Update backup.sh - fixed typo
  src/app/backup.sh
Due: none

added healthcheck
  Dockerfile
  src/opt/scripts/healthcheck.sh
Due: build_master

better error messages
  src/opt/scripts/healthcheck.sh
Due: none

Path conditions:
  push_readme: any of: README.md
  build_master: any of: Dockerfile, backup.sh, entrypoint.sh
