Repository Bruceforce/vaultwarden-backup: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_readme, build_master

push_readme:
  stage: push:readme
  image: docker:latest
  services:
  - docker:dind
  tags:
  - shared
  script:
  ...

build_master:
  stage: build:docker
  image: docker:latest
  services:
  - name: docker:dind
    command:
    - --experimental
  tags:
  - shared
  before_script:
  - apk add curl
  - mkdir -p ~/.docker/cli-plugins
  ...

Update Dockerfile, entrypoint.sh, backup.sh files
  Dockerfile
  backup.sh
  entrypoint.sh
Due: build_master

Check ATTACHMENT_BACKUP_FILE define :microscope:
  Dockerfile
  README.md
  backup.sh
Due: push_readme, build_master

fix: check ATTACHMENT_BACKUP_FILE :bulb:
  backup.sh
Due: build_master

fix : difference between bash and shell
  backup.sh
Due: build_master

Added attachment example
  README.md
Due: push_readme

master to main
  .gitlab-ci.yml
Due: none

Add sends backup
  backup.sh
Due: build_master

Add send
  entrypoint.sh
Due: build_master

Add docs for send
  README.md
Due: push_readme

Add support for sends folder (#1)
  README.md
  backup.sh
  entrypoint.sh
Due: push_readme, build_master

Change docker user (#2)
  README.md
Due: push_readme

Change docker repository (#3)
  README.md
Due: push_readme

Overhaul
  backup.sh
Due: build_master

Install zip
  Dockerfile
Due: build_master

Remove unnecessary sqlite
  Dockerfile
Due: build_master

Update backup.sh
  backup.sh
Due: build_master

Removes unnecessary variables
  Dockerfile
Due: build_master

Update entrypoint.sh
  entrypoint.sh
Due: build_master

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete .github/workflows directory
  .github/workflows/lockdown.yml
Due: none

Update README.md
  README.md
Due: push_readme

Fix delete after for attachments with timestamp
  backup.sh
Due: build_master

Added gitignore
  .gitignore
Due: none

Refactoring
  README.md
  backup.sh
  docker-compose.yml
  entrypoint.sh
Due: push_readme, build_master

add build image action
  .github/workflows/build.yml
  .github/workflows/lockdown.yml
Due: none

first commit
  Dockerfile
  docker-compose.yml
Due: build_master

add bash
  Dockerfile
  backup.sh
  entrypoint.sh
Due: build_master

Path conditions:
  push_readme: any of: README.md
  build_master: any of: Dockerfile, backup.sh, entrypoint.sh
