Repository Bruceforce/vaultwarden-backup: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_readme, build_main

.gitlab-ci.yml:

stages:
  - push:readme
  - build:docker
  - release

variables:
  DOCKERHUB_REGISTRY: index.docker.io
  DOCKERHUB_REPO: vaultwarden-backup
  IMAGE_NAME_DOCKERHUB: $DOCKERHUB_REGISTRY/$DOCKERHUB_USER/$DOCKERHUB_REPO
  # see https://gitlab.com/gitlab-org/gitlab-runner/issues/4501
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  # See https://github.com/docker/buildx/releases
  BUILDX_VERSION: v0.7.1
  BUILDX_ARCH: linux-amd64

.docker_login: &docker_login
  docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

.dockerhub_login: &dockerhub_login
  docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASSWORD" $DOCKERHUB_REGISTRY

.docker_build_template: &docker_build
  stage: build:docker
  image: docker:latest
  services:
    - name: docker:dind
      command: ["--experimental"]
  tags:
    - shared
  before_script:
    - apk add curl
    - mkdir -p ~/.docker/cli-plugins
    - curl -sSLo ~/.docker/cli-plugins/docker-buildx https://github.com/docker/buildx/releases/download/$BUILDX_VERSION/buildx-$BUILDX_VERSION.$BUILDX_ARCH 
    - chmod +x ~/.docker/cli-plugins/docker-buildx
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker context create my-context
    - docker buildx create --use my-context
    - docker info

push_readme:
  stage: push:readme
  image: docker:latest
  services:
    - docker:dind
  tags:
    - shared
  script:
    - docker run 
      -v $(pwd)/README.md:/data/README.md:ro
      -e DOCKER_USER=$DOCKERHUB_USER 
      -e DOCKER_PASS=$DOCKERHUB_PASSWORD 
      -e PUSHRM_FILE=/data/README.md
      -e PUSHRM_TARGET=docker.io/$DOCKERHUB_USER/$DOCKERHUB_REPO
      chko/docker-pushrm
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - README.md

build_main:
  <<: *docker_build
  script:
    - *docker_login
    - *dockerhub_login
    #- docker build --pull -t "$IMAGE_NAME" -t "$IMAGE_NAME_DOCKERHUB:${CI_COMMIT_TAG:-latest}" .
    - docker buildx build 
      --push 
      --platform linux/arm/v7,linux/arm64/v8,linux/amd64 
      --tag "$CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:-latest}" 
      --tag "$DOCKERHUB_REGISTRY/$DOCKERHUB_USER/bw_backup:${CI_COMMIT_TAG:-latest}"
      --tag "$DOCKERHUB_REGISTRY/$DOCKERHUB_USER/vaultwarden-backup:${CI_COMMIT_TAG:-latest}" .
    #- docker push "$IMAGE_NAME"
    #- docker push "$IMAGE_NAME_DOCKERHUB:${CI_COMMIT_TAG:-latest}"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG'
      changes:
        - Dockerfile
        - backup.sh
        - entrypoint.sh

build:
  <<: *docker_build
  script:
    - *docker_login
    #- docker build --pull -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/bw_backup:${CI_COMMIT_TAG:-latest}" .
    - docker buildx build 
      --push 
      --platform linux/arm/v7,linux/arm64/v8,linux/amd64 
      --tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" .
    #- docker push "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/bw_backup:${CI_COMMIT_TAG:-latest}"
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

release:
  stage: release
  image: node:lts-alpine
  before_script:
    - apk add git
    - npm install -g semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/gitlab
  script:
    - semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

made healthcheck.sh executable
  src/opt/scripts/healthcheck.sh
Due: none

moved healthcheck.sh to /usr/bin/lib
  Dockerfile
  src/usr/local/bin/healthcheck.sh
Due: build_main

add healthcheck
  Dockerfile
  src/usr/local/bin/healthcheck.sh
Due: build_main

feat: added container health check
  docker-compose.test.yml
  src/app/backup.sh
  src/usr/local/bin/healthcheck.sh
Due: none

chore: Updated buildx
  .gitlab-ci.yml
Due: none

ci: Use main branch instead of default branch.
  .gitlab-ci.yml
Due: none

fix: Added error counter to critical errors
  src/opt/scripts/logging.sh
Due: none

chore: removed duplicate database check
  src/app/backup.sh
Due: none

chore: make healthcheck file variable
  README.md
  src/app/backup.sh
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
  src/usr/local/bin/healthcheck.sh
Due: push_readme

fix: init health file
  docker-compose.test2.yml
  src/usr/local/bin/entrypoint.sh
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

chore: deleted test file
  docker-compose.test2.yml
Due: none

BREAKING CHANGE: Include database backup in tar
  README.md
  src/app/backup.sh
Due: push_readme

feat: Added BACKUP_ON_STARTUP
  README.md
  docker-compose.test.yml
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: push_readme

chore: simplified logging
  src/app/backup.sh
  src/opt/scripts/logging.sh
  src/usr/local/bin/entrypoint.sh
Due: none

feat: Password protection and switch to xz
  Dockerfile
  README.md
  docker-compose.test.yml
  docker-compose.yml
  src/app/backup.sh
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
Due: push_readme, build_main

ci: Re-Added old docker repo to build
  .gitlab/build-and-release.sh
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: none

fix: version number in latest builds was incorrect
  .gitlab-ci.yml
Due: none

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
Due: none

fix: re-initiate cron on change
  src/usr/local/bin/entrypoint.sh
Due: none

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
Due: none

fix: fixed cronjob
  src/usr/local/bin/entrypoint.sh
Due: none

chore: lazy debugging messages
  src/opt/scripts/logging.sh
Due: none

fix: Do not use live database file in backup
  src/app/backup.sh
Due: none

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
Due: none

chore: Added LICENSE
  LICENSE
Due: none

fix: fixed broken gpg backup and wrong db
  Dockerfile
  src/app/backup.sh
Due: build_main

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
Due: none

chore: added pre-commit
  .cz.yaml
  .github/workflows/lockdown.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/build-and-release.sh
  .gitlab/prepare-release.sh
  .pre-commit-config.yaml
  .releaserc.json
  .shellcheckrc
  Makefile
  README.md
  docker-compose.test.yml
  src/app/backup.sh
  src/opt/scripts/logging.sh
  src/opt/scripts/set-env.sh
  src/usr/local/bin/entrypoint.sh
  src/usr/local/bin/healthcheck.sh
Due: push_readme

ci: always run pre-commit
  .gitlab-ci.yml
Due: none

chore: avoid duplicate pipelines
  .gitlab-ci.yml
Due: none

ci: don't run pre-commit on main branch
  .gitlab-ci.yml
Due: none

chore: Added contributing guidelines
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Feature_Request.md
  CONTRIBUTING.md
  README.md
Due: push_readme

chore: compose file cleanup
  docker-compose.dev.yml
  docker-compose.yml
Due: none

chore: re-added deletion of temp backup
  src/app/backup.sh
Due: none

Update README.md
  README.md
Due: push_readme
